.vscode/**
.vscode-test/**
src/**
webview/src/**
webview/node_modules/**
webview/dist/**
out/test/**
test/**
node_modules/**
**/*.map
**/*.ts
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
